nav.navbar
  ul.navbar-list
    li.navbar-item
      a(href="/") Home
    li.navbar-item.navbar-dropdown
      a(href="#") Generos
      ul.dropdown-content
        each genre in genres
            li
                a(href="/genero/"+genre.id) #{genre.name}
    li.navbar-item
      a(href="#") Services
    li.navbar-item
      a(href="#") Contact
